/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

img {
  max-width: 100%;
}
/* HEADER */
.navigation {
  width: 100%;
  background-color: #ff6900;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo {
  height: 50px;
  padding: 15px 0;
}

.navigation > nav {
  color: white;
}
/* HEADER */

/* MAIN */
.container-cards {
  width: 80%;
  max-width: 1100px;
  margin: 0 auto;
  padding-top: 50px;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  column-gap: 20px;
  row-gap: 20px;
}

.col {
  width: calc(100% / 3 - (40px / 3));
}
/* MAIN */

/* CARD */
.card {
  position: relative;
}

.back-image {
  display: none;
}

.card:hover .back-image {
  display: inline-block;
}

.card:hover .front-image {
  display: none;
}

.card-text {
  padding-bottom: 10px;
}

.info {
  position: absolute;
  bottom: 8%;
  display: flex;
}

.info > div {
  font-size: 12px;
  padding: 5px 10px;
  color: white;
}

.discount {
  margin-right: 5px;
  background-color: red;
}

.tag {
  background-color: green;
}

.heart {
  position: absolute;
  right: 0;
  top: 10px;
  padding: 10px;
  background-color: white;
}

.price-box {
  display: flex;
}

.card-text > h5 {
  font-size: 12px;
  font-weight: 400;
}

.price {
  font-size: 14px;
  margin-right: 5px;
  color: red;
  font-weight: 700;
}

.discounted-price {
  font-size: 14px;
  text-decoration: line-through;
}
